* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.header {
    height: 768px;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.menu {
    margin-top: 42px;
}

.header-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header-text {
    flex-grow: 1;
    margin-top: 107px;
    background-image: url(images/illustration.png);
    background-repeat: no-repeat;
    background-position: right top;
}

.heading {
    width: 510px;
    font-weight: 300;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.04em;
    color: #1F3F68;
}

.header-par {
    width: 425px;
    margin-top: 32px;
}

.header-link {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    text-decoration: none;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    display: inline-block;
    margin-top: 71px;
}

.nav-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.paragraph {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
}

.title {
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
}

.title_2 {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #1f3f68;
}

.content-top {
    margin-top: 64px;
}

.content-case {
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
}

.content-card {
    display: flex;
    flex-direction: column;
    padding: 44px 32px;
    box-sizing: border-box;
    width: 359px;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
}

.card-title {
    margin: 52px 0 14px;
}

.card-image {
    align-self: center;
}

.card-link {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;
    margin-top: 30px;
    display: inline-block;
}

.our-projects {
    margin-top: 64px;
}

.our-project-image {
    width: 100%;
}

.our-projects-text {
    margin: 32px auto;
    color: #222222;
    width: 75%;
    opacity: 1;
}

.smart-home {
    margin-top: 64px;
    position: relative;
}

.smart-home-text {
    position: absolute;
    top: 64px;
    right: 64px;
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.our-projects-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.our-projects-wrapper-block {
    position: relative;
    flex-grow: 1;
}

.our-projects-first-block {
    margin-right: 32px;
}

.our-project-wrapper-text {
    position: absolute;
    top: 32px;
    left: 32px;
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.footer {
    margin-top: 112px;
    background: #316099;
}

.footer-top {
    display: flex;
    justify-content: space-between;
}

.footer-top-wrapper {
    width: 495px;
    padding-top: 91px;
}

.footer-heading {
    font-weight: normal;
    width: 340px;
    text-align: left;
    color: #FFFFFF;
}

.footer-text {
    margin-top: 32px;
    color: #FFFFFF;
}

.footer-list {
    display: flex;
    justify-content: space-between;
}

.footer-link {
    display: inline-block;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding: 15px 80px;
    background: #5A98D0;
    text-decoration: none;
    height: min-content;
    margin: auto 0;
}

.footer-line {
    margin-top: 96px;
    opacity: 0.4;
    border: 1px solid #FFFFFF;
}

.footer-list {
    margin-top: 64px;
    margin-bottom: 64px;
}

.footer-list-item {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-right: 32px;
    padding-left: 19px;
    flex-grow: 1;
    flex-basis: 33.33%;
}

.footer-list-link {
    color: #FFFFFF;
    text-decoration: none;
}

.copyright {
    padding-bottom: 64px;
}

.copyright-text {
    color: #FFFFFF;
    opacity: 0.4;
}

.contact-heading {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.contact-content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input {
    border: 1px solid #356ead;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.button {
    background: #5a98d0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

label {
    width: 200px;
    display: block;
}

.yandex-map {
    width: 100%;
    height: 400px;
}